name: MuleSoft CI/CD - CloudHub 2.0 Deployment

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "8"

      - name: Install Maven 3.8.7
        run: |
          wget https://archive.apache.org/dist/maven/maven-3/3.8.7/binaries/apache-maven-3.8.7-bin.tar.gz
          tar -xzf apache-maven-3.8.7-bin.tar.gz
          sudo mv apache-maven-3.8.7 /usr/local/maven
          echo "/usr/local/maven/bin" >> $GITHUB_PATH

      - name: Build Mule Application
        run: mvn -U clean package -DskipTests

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mule-app
          path: target/*.jar

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "8"

      - name: Install Maven 3.8.7
        run: |
          wget https://archive.apache.org/dist/maven/maven-3/3.8.7/binaries/apache-maven-3.8.7-bin.tar.gz
          tar -xzf apache-maven-3.8.7-bin.tar.gz
          sudo mv apache-maven-3.8.7 /usr/local/maven
          echo "/usr/local/maven/bin" >> $GITHUB_PATH


    


      - name: Deploy to CloudHub 2.0
        run: |
          mvn -U mule:deploy \
            -Danypoint.username="${{ secrets.ANYPOINT_USERNAME }}" \
            -Danypoint.password="${{ secrets.ANYPOINT_PASSWORD }}" \
            -Danypoint.org="${{ secrets.ANYPOINT_ORG }}" \
            -Danypoint.environment="${{ secrets.ANYPOINT_ENV }}"
